{{ 'footer.css' | asset_url | stylesheet_tag }}
<footer class="footer mx-20">
  <div class="flex justify-between  pt-16 pb-16">
    <div class="social">
      <p>Social</p>
    </div>
    <div class="flex">
      <p>Discount</p>
    </div>
  </div>
  <hr>
  <div class="flex justify-around mt-16">
    <div class="footer-menus">
      <p>Menu Title</p>
      <ul>
        <li class="txt-center">Menu 1</li>
        <li class="txt-center">Menu 2</li>
        <li class="txt-center">Menu 3</li>
      </ul>
    </div>
    <div class="footer-menus">
      <p>Menu Title</p>
      <ul>
        <li class="txt-center">Menu 1</li>
        <li class="txt-center">Menu 2</li>
        <li class="txt-center">Menu 3</li>
      </ul>
    </div>
    <div class="footer-menus">
      <p>Menu Title</p>
      <ul>
        <li class="txt-center">Menu 1</li>
        <li class="txt-center">Menu 2</li>
        <li class="txt-center">Menu 3</li>
      </ul>
    </div>
  </div>
</footer>
