<div class="product-card swiper-slide" style="width: 350px; height: 350px">
  <a href="{{ product.url }}">
   
    <img src="{{ product.featured_image | image_url }}" height="350px" width="350px" alt="{{ product.title }}" style="object-fit: cover;">
  </a>
</div>

