<div class="product-card">
  <a href="{{ product.url }}">
   
    <img src="{{ product.featured_image | image_url }}" height="315px" width="315px" alt="{{ product.title }}">
  </a>
</div>
<script>
  console.log('{{ product | json }}');
</script>

<style>
</style>
