<div class="pdp" id="pdp-{{ section.id }}">
    <p>Product Page</p>
</div>

{% schema %}
{
  "name": "product-details-page",
  "settings": [],
  "presets": [
    {
      "name": "Product Page"
    }
  ]
}
{% endschema %}