<div class="search-page mx-20">
    
    <form action="{{ routes.search_url }}">
        <input type="text"
          placeholder="Search"
          name="q"
          value="{{ search.terms | escape }}"
       >
        <input type="submit" value="Search">
      </form>
</div>