<div class="top-nav flex justify-center items-center">
  <p>Sign up to our newsletter to receive 15% off your first order.</p>
</div>

{% comment %}
  {% schema %}
  {
    "name": "top_nav",
    "settings": [
      {
        "type": "text",
        "label": "top_nav_text",
        "id": "top_nav_text"
      }
    ],
    "presets": [
      {
        "name": "Top Nav"
      }
    ]
  }
  {% endschema %}
{% endcomment %}
